/* ************Tableau ORGANISATION MODULAIRE DE LA FILIERE****************** */
html{
    font-family: 'Montserrat', sans-serif;
}
.mon_tableau{
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: 0.9em;
    min-width: 480px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.mon_tableau thead tr{
    background-color: rgb(48, 109, 201);
    color: white;
    text-align: left;
    font-weight: bold;
}
.mon_tableau th, 
.mon_tableau td{
    padding: 12px 15px;
}
.mon_tableau tbody tr{
    border-bottom: 1px solid #dddddd;
}
.mon_tableau tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.mon_tableau tbody tr:last-of-type{
    border-bottom:rgb(48, 109, 201) solid 3px;
}
.mon_tableau tbody td.activecolomn{
    font-weight: bold;
    color: rgb(211, 38, 38);
}
.mon_tableau thead th.cord{
    text-align: center;
    border-left: rgb(255, 255, 255) 0.5px solid;
}
.s6_vh{
    background-color: rgb(255, 255, 255);
    border-right: rgb(48, 109, 201) 1px solid;
}